@import '../../../../style/sass/variable';
@import '../../../../style/sass/mixin/flexbox';
@import '../../../../style/sass/mixin/boxshadow';
@import '../../../../style/sass/mixin/lineargradient';
$border-radius : 20px;

.authentication{
    position: relative;
    display: flex;
    margin: 0 auto;
    width:100%;
}


.authentication {
  background: $color-white;
  @include flexbox();
  @include flex-direction(column);

  label{
    color:$grey-1;
  }

  &__shadow {
    position: absolute;
    top: -7px;
    width: 100%;
    height: 7px;
    display: flex;
    justify-content: center;

    span {
      width: 90%;
      height: inherit;
      background: #000;
      opacity: 0.2;
      border-radius: $border-radius $border-radius 0 0;
    }

    &--far{
      top: -14px;
      span {
        width: 80%;
        opacity: 0.1;
      }
    }
  }

  .header {
    @include flexbox();
    @include flex-direction(column);
    align-items: center;
    justify-content: space-around;
    &__border {
        border-top: none;
        border-bottom: 5px solid #E81D46;
        outline: none;
    }
    &__none {
      border: none;
    }
    &__box {
      padding: 20px 0;

      &:focus,
      &:active {
        border-top: none;
        border-bottom: 5px solid #E81D46;
        outline: none;
      }
    }
  }

}
